body
	{
		background-color: #275a55
	}

a:link, a:visited
	{
		color: #F6EED6;
		background: rgba(0,0,0,0.13);
		border-radius: 1rem;
		text-decoration: none;
		padding: 7px 12px;
		margin-top: 2px;
		margin-right: 4px;
		float: right;
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
	}

a:hover
	{
		color: #b28753;
		background-color: #24524D;
		text-decoration: none;
	}

a:active
	{
		color: #725430;
		background-color: #6fcb9f;
		text-decoration: none;
	}

.logo img
	{
		float: left;
		width: 134px;
		height: auto;
		margin-top: 2px;
		padding: 7px 20px;
	}

.navbar {
  overflow: hidden;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eae2b3;
  color: #b28753;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  border-radius: 1rem;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 40px;
  cursor: pointer;
  animation-duration: 0.5s;
  padding: 10px;
}

.dropdown-content a {
  float: none;
  color: #C0A881;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-right: 0;
  background-color: #e5dfc3;

}

.dropdown-content a:hover {
  background-color: transparent;
  border-radius: 0;
  color: #F6EED6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.titleh
	{
		position: absolute;
		top: 40%;
		left: 65%;
		transform: translate(-50%,-50%);
	}
.titleh h1
	{
		font-family: 'Poppins', sans-serif;
		color: #F7C766;
		font-size: 65px;
		line-height: 62px;
	}
#rectangle
	{
		width: 460px;
		height: 2px;
		background: #F6EED6;
		position: absolute;
		top: 53%;
		left: 49%;
	}
.home
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 120px;
		color: #24524D;
		bottom: 1%;
		left: -16%;
		transform: rotate(270deg);
		position: fixed;
	}
.wrapper
	{
		max-width: 1400px;
		margin: 50px auto;
		padding: 30px;
		position: absolute;
		top: 64%;
		left: 65%;
		transform: translate(-50%,-50%);
	}
.subth p
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 19px;
		color: #F7C766;
		letter-spacing: 1px;
	}
.subthh p
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #F7C766;
		letter-spacing: 1px;
		line-height: 26px;
	}
.flip_card
	{
		background-color: transparent;
		width: 18rem;
		height: 28rem;
		top: 15%
		left: -38%;
		margin-top: 27%;
		margin-left: 33%;
		position: absolute;
		transform: translate(-50%,-50%);
		perspective: 90rem;
	}
.flip_card_inner
	{
		position: relative;
		top: 0;
		left: 0;
		width: 18rem;
		height: 28rem;
		box-shadow: 0px 6px 6px 0 #000000;
		border-radius: 2rem;
		text-align: center;
		transition: transform 0.8s ease-in-out;
		transform-style: preserve-3d;
	}
.flip_card:hover .flip_card_inner
	{
		transform: rotateY(180deg);
	}
.flip_card_inner_front, .flip_card_inner_back
	{
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
.flip_card_inner_front
	{
		background-color: #24524D;
		color: #F7C766;
		border-radius: 2rem;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
	}
.flip_card_inner_front img
	{
		padding-top: 20%;
	}
.flip_card_inner_back
	{
		background-color: #F7C766;
		color: white;
		border-radius: 2rem;
		transform: rotateY(180deg);
	}

#rectanglebio {
	width: 60%;
	height: 40%;
	background: #eebcad;
 	position: absolute;
	border-radius: 2rem;
	margin: auto;
	margin-top: 220px;
	left: 19%;
	text-align: center;
	color :#1d1e3a;
	padding: 15px;
}

#rectanglebio h1 {
	font-family: 'Poppins', sans-serif;
	color: #1d1e3a;
	font-size: 35px;
	line-height: 62px;
	text-align: left;
	padding-left: 4%;
}

table {
	padding-left: 3%;

}

table th {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: left;
	letter-spacing: 0.01px;
	padding: 4px 30px 4px 8px;
}

table td {
	border: 1px;
	padding: 4px 8px;
	text-align: left;
}

.biodata {
	font-family: 'Open Sans', sans-serif;
	font-size: 88px;
	color: #223754;
	bottom: 15.5%;
	left: -18.5%;
	transform: rotate(270deg);
	position: fixed;
}

.profilebio {
	position: absolute;
}

#linebio {
	width: 460px;
	height: 3px;
	background: #1d1e3a;
	position: absolute;
	top: 23%;
	left: 34%;
}

.titlebio {
	font-family: 'Poppins', sans-serif;
	color: #eebcad;
	font-size: 35px;
	text-align: center;
	margin-left: 35.6%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
}

#rectangleedu {
	width: 60%;
	height: 96%;
	background: #ecd9ae;
 	position: absolute;
	border-radius: 2rem;
	margin: auto;
	margin-top: 220px;
	left: 19%;
	text-align: center;
	color :#6b0808;
	padding: 15px;
}

.education {
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	color: #821616;
	bottom: 22.7%;
	left: -19%;
	transform: rotate(270deg);
	position: fixed;
}

#rectangleedu table th {
	padding: 4px 30px 4px 8px;

}

#rectangleedu table td {
	padding: 8px 10px;
	border: 1px;
	width: 80%;
}

.titleedu {
	font-family: 'Poppins', sans-serif;
	color: #E3C98E;
	font-size: 35px;
	text-align: center;
	margin-left: 33.8%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
}

.titleexp {
	font-family: 'Poppins', sans-serif;
	color: #DBC2B8;
	font-size: 35px;
	text-align: center;
	margin-left: 33.3%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
}

.titleexp p {
	font-family: 'Poppins', sans-serif;
	color: #CFC5AC;
	font-size: 20px;
	text-align: center;
	margin-left: 11.1%;
	margin-top: -15%;
	position: absolute;
	letter-spacing: 35px;

}

.introexp p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #DBC2B8;
	letter-spacing: 1px;
	text-align: center;
	margin-left: 21%;
	margin-top: 20%;
	position: absolute;
}

.project table {
	margin-left: 16.6%;
	padding-top: 30%;
}

.experience {
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	color: #9A522E;
	bottom: 22.7%;
	left: -19%;
	transform: rotate(270deg);
	position: fixed;
}

.family {
	font-family: 'Open Sans', sans-serif;
	color: #B36464;
	font-size: 90px;
	bottom: 10%;
	left: -15.7%;
	transform: rotate(270deg);
	position: fixed;
}

.titlefam {
	font-family: 'Poppins', sans-serif;
	color: #96B2C6;
	font-size: 35px;
	text-align: center;
	margin-left: 38.5%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 4px;
}

.titlefam p {
	font-family: 'Poppins', sans-serif;
	color: #C8D0CC;
	font-size: 20px;
	text-align: center;
	margin-left: -13%;
	margin-top: -23%;
	position: absolute;
	letter-spacing: 35px;
}

.slidemain {
	width: 810px;
	height: 410px;
	overflow: hidden;
	position: absolute;
	top: 52%;
	left: 19.6%;
}

.navigation {
	position: absolute;
	bottom: -80px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 4px;
	cursor: pointer;
	transition: 0.4s;
}

.bar:hover {
	background: #fff;
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;
}
		

.slide {
	width: 20%;
	transition: 0.6s;
}

.slide img {
	width: 100%;
	height: 110%;
}

.outrofam {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #C8D0CC;
	letter-spacing: 1px;
	text-align: center;
	margin-left: 24.5%;
	margin-top: 58%;
	position: absolute;
}

#r1:checked ~.s1 {
	margin-left: 0;
}

#r2:checked ~.s1 {
	margin-left: -20%;
}

#r3:checked ~.s1 {
	margin-left: -40%;
}

.titleill {
	font-family: 'Poppins', sans-serif;
	color: #DBC2B8;
	font-size: 35px;
	text-align: center;
	margin-left: 31.4%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
	line-height: 59px;
}

.gallery {
	font-family: 'Open Sans', sans-serif;
	color: #B4694B;
	font-size: 80px;
	bottom: 15.4%;
	left: -16.9%;
	transform: rotate(270deg);
	position: fixed;
}

.gallery-ill table {
	margin-left: 16.6%;
	padding-top: 21%;
}

.gallery-pho table {
	margin-left: 16.6%;
	padding-top: 17%;
}

.titlepho {
	font-family: 'Poppins', sans-serif;
	color: #DBC2B8;
	font-size: 35px;
	text-align: center;
	margin-left: 31.4%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
	line-height: 59px;
}

.titleyt {
	font-family: 'Poppins', sans-serif;
	color: #D5DFAC;
	font-size: 35px;
	text-align: center;
	margin-left: 35.7%;
	margin-top: 3.9%;
	position: absolute;
	letter-spacing: 2px;
	line-height: 59px;
}

#rectangleyt {
	width: 60%;
	height: 75%;
	background: #D5DFAC;
	position: absolute;
	border-radius: 2rem;
	margin: auto;
	margin-top: 220px;
	left: 17.6%;
	text-align: center;
	color :#B4694B;
	padding: 15px;
	box-shadow: 0px 6px 6px 0 #000000; 
	}

#rectangleyt h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	padding: 10px;
}

iframe {
	border-radius: 1rem;
	margin-top: 10px;
}

.contact {
	font-family: 'Open Sans', sans-serif;
	color: #D1B7A2;
	font-size: 75px;
	bottom: 17%;
	left: -16.9%;
	transform: rotate(270deg);
	position: fixed;
}

#rectanglecon {
	width: 53%;
	height: 55%;
	background: #c7a385;
	position: absolute;
	border-radius: 4px;
	margin: auto;
	margin-top: 6%;
	left: 44.82%;
	text-align: center;
	color :#B4694B;
	padding: 15px;
}

.imgcon img {
	position: absolute;
	width: 340px;
	height: 340px;
	border-radius: 4px;
	margin-left: 22%;
	margin-top: 18%;
}

form {
	margin: 35px;
}

.input-field {
	width: 400px;
	height: 40px;
	margin-top:15px;
	border-radius: 1rem;
	background-color: #D9BDA4;
	padding-left: 23px;
	border: 1.5px solid #BD9878;
	outline: none;
	padding-right: 10px;
	color: #f6eed6;
	margin-left: -12%;
}

.textarea-field {
	height: 73.6px;
	padding-top: 16px;
}

.btn {
	border-radius: 2rem;
	color: #f6eed6;
	margin-top: 74px;
	margin-left: 20px;
	padding: 10px 16px;
	background-color: #69ae72; 
	font-size: 12px;
	border: none;
	cursor: pointer;
	position: absolute;
}

.iconcon p {
	left: 31.2%;
	top: 34%;
	position: absolute;
}

.iconcon a {
	background-color: transparent;
	padding-left: 4px;

}

.iconhome p {
	left: 30.6%;
	top: 40%;
	position: absolute;
}

.iconhome a {
	background-color: transparent;
	padding-left: 4px;

}

.containergal {
	width: 1000px;
	height: 400px;
	background: #ccc;
	margin: 120px auto;
	display: flex;
}

.col {
	height: 100%;
	flex: 1;
	color: #F0E6D2;
	box-sizing: border-box;
	padding: 25px;
	position: relative;
	transition: 0.7s;
}

.col:nth-child(1) {
	background: #d59c34;
}

.col:nth-child(2) {
	background: #bc9e9e;
}

.col:nth-child(3) {
	background: #a3b865;
}

.col h1 {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.captioncol {
	max-width: 340px;
	font-size: 11.6px;
	letter-spacing: 1px;
	margin: 28px 0;
	padding: 10px;
	display: none;
	font-family: 'Open Sans', sans-serif;
}

.captioncol button{
	border: 1px solid #F0E6D2;
	background: transparent;
	outline: none;
	padding: 8px 18px;
	color: #F0E6D2;
	border-radius: 2rem;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;
}

.col img {
	width: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.col:hover {
	flex-grow: 2.5;
}

.col:hover .captioncol {
	display: block;
}

.captioncol a {
	background: transparent;
	margin-right: 220px;
	margin-left: -14px;
	position: absolute;
	margin-top: 1px;
	cursor: pointer;
	font-size: 12px;
}

.footer {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 45%;
	clear: both;
}

.footergal_ill {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 3%;
	clear: both;
}

.footergal_pho {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 3%;
	clear: both;
}

.footergal_yt {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 60%;
	clear: both;
}

.footercon {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 44%;
	clear: both;
}

.footerbio {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 42%;
	clear: both;
}

.footeredu {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 69%;
	clear: both;
}

.footerexp {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 2%;
	clear: both;
}

.footerfam {
	background: transparent;
	height: 100px;
	position: relative;
	margin-top: 69%;
	clear: both;
}